pkgbase = rv-cli
	pkgdesc = A fast, no-bs command-line shortcut manager for the terminal
	pkgver = 0.1.4
	pkgrel = 1
	url = https://github.com/darksoulxb/rv-cli
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python>=3.10
	depends = python-typer
	depends = python-platformdirs
	depends = python-rich
	depends = python-click
	optdepends = bash: bash shell support
	optdepends = zsh: zsh shell support
	optdepends = fish: fish shell support
	source = rv-cli-0.1.4.tar.gz::https://github.com/darksoulxb/rv-cli/archive/refs/tags/v0.1.4.tar.gz
	b2sums = efe177a0ad7927aeee2831adbc4bd8faa6512d00bad5e060b63a9d6ca297ded758d0b8f97dc216509f3208e416bf40f66145527fa9a35f43ed5219e6577b43c9

pkgname = rv-cli
